@import "@/styles/config/mixins";

.home-hero {
	width: 100%;
	&-card {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;

		&-frame {
			height: 90%;
			width: 90%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0.25rem;
			padding: 0.5rem 0.25rem;
			border-radius: 10px;
			background:
				linear-gradient(
						90deg,
						var(--material-green) 4%,
						var(--material-blue) 0%
					)
					top/100% 34% no-repeat,
				linear-gradient(
						90deg,
						var(--material-yellow) 50%,
						var(--material-blue) 0%
					)
					top/100% 82% no-repeat,
				linear-gradient(
						90deg,
						var(--material-yellow) 10%,
						var(--material-red) 0%
					)
					top/100% 100%;
			box-shadow: 0 10px 15px rgba(60, 64, 67, 0.3);

			@include responsive(phone) {
				padding: 0.25rem;
			}
		}

		&-box {
			position: relative;
			height: 99%;
			width: 99%;
			padding: 0;
			border-radius: 10px;
			background-color: var(--theme-bg);
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
		}
	}

	&-box {
		&-head {
			height: 100vh;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			position: relative;

			& > * {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				position: absolute;
			}
		}

		&-image {
			left: 0;
			top: 0;
			width: 100%;
			height: 90%;
			background-image: url("/vectors/people.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position-y: bottom;

			&__img {
				object-fit: contain;
				max-width: 75%;
				max-height: 75%;

				@include responsive(tab) {
					max-height: 55%;
					max-width: 55%;
				}
			}
		}

		&-title {
			height: 25%;
			font-size: 5rem;
			line-height: 6rem;
			left: 50%;
			top: 100%;
			transform: translate(-50%, -100%);

			@include responsive(phone) {
				transform: translate(-50%, -150%);
			}
		}
	}
}
